<!DOCTYPE html>
<html lang="ua">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="~/img/logos/logo.png" sizes="32x32">

    <title>@ViewData["Title"] - Kursova</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link href="~/css/site.min.css" rel="stylesheet">

</head>

<body id="page-top">


    @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Kursova - <a asp-area="" asp-controller="Home" asp-action="MainPage">Welcome</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>

    <script src="~/js/jqBootstrapValidation.js"></script>
    <script src="~/js/contact_me.js"></script>

    <script src="~/js/agency.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/notifyaddfilestud.js"></script>
    <script src="~/js/notifycommentstud.js"></script>
    <script src="~/js/notifyaddfileteach.js"></script>
    <script src="~/js/notifytregisterstud.js"></script>
    <script src="~/js/notifytregister.js"></script>
    <script src="~/js/notifycommentteacher.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
