[*.cs]

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = silent

# SA1012: Opening braces should be spaced correctly
dotnet_diagnostic.SA1012.severity = silent

# SA1028: Code should not contain trailing whitespace
dotnet_diagnostic.SA1028.severity = silent

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = silent

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = silent
