
@{
    ViewData["Title"] = "Захист вже близько";
}
<!--
<div class="text-center">
</div>-->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase">@ViewData["Title"]</div>
            <div class="intro-lead-in">Не відкладай на завтра те, що можна зробити сьогодні!</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/Home/MainPage">Вперед</a>
        </div>
    </div>
</header>

