@{
    ViewData["Title"] = "Перевір свою курсову!";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <br />
    <br />
    <div class="form-group">
        <a href="/Account/Login" class="btn btn-outline-dark">Студент</a>
        <a href="/Account/LoginTeacher" class="btn btn-outline-dark">Викладач</a>
    </div>
</div>