@{
    ViewData["Title"] = "Захист вже близько";
}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="nav-link text-dark" asp-area="" asp-action="MainPage" asp-controller="Home">
                <img class="logo-main scale-with-grid" src="~/img/logos/logo_1.png" data-retina="~/img/logos/logo_1.png" data-height="" width="160" height="160">
            </a>
        </div>
    </nav>
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase">@ViewData["Title"]</div>
            <div class="intro-lead-in">Не відкладай на завтра те, що можна зробити сьогодні!</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/Home/MainPage">Вперед</a>
        </div>
    </div>
</header>
