@{
    ViewData["Title"] = "Для реєстрації оберіть користувача";
}
<!--
<div class="text-center">
</div>
-->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">@ViewData["Title"]</div>
                <a href="/Student/Login" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger">Студент</a>
                <a href="/Teacher/LoginTeacher" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger">Викладач</a>
            </div>
        </div>
        <a href="/Admin/LoginAdmin">Адміністратор</a>
    </header>