@model Kursova.DAL.Entities.Student


<!-- Header -->

<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="card card-2">

                <table class="table">
                    <section class="bg-light page-section" id="portfolio">
                        <div class="row">
                            &emsp;&emsp;&emsp;
                            <div class="col-xs-6 col-md-4 portfolio-item">
                                <div class="person_img">
                                    <div class="col-xs-4 col-sm-6">
                                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                                            <div class="portfolio-hover">
                                                <div class="portfolio-hover-content">
                                                    <i class="fas fa-plus fa-3x"></i>
                                                </div>
                                            </div>
                                            <img class="img-fluid" src="img/portfolio/avatar.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row-container person_details">
                                <div class="person_information">
                                    <a class="text-dark">Прізвище та ініціали</a><br><br>
                                    <a class="text-dark">Науковий ступінь</a><br><br>
                                    <a class="text-dark">Кафедра</a><br><br>
                                    <a class="text-dark">Електронна пошта</a>
                                </div>
                            </div>

                            <table class="table table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">№</th>
                                        <th scope="col">Студент</th>
                                        <th scope="col">Тема курсової</th>
                                        <th scope="col">Група</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="dropdown open">
                                <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Дізнатися більше</a>
                                <tbody>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </div>
                    </section>
                </table>

            </div>
        </div>
    </div>
</header>

