@model Kursova.ViewModels.ChangeTeacherPasswordModel
<!--

<form asp-action="ForgotPassword" asp-controller="Account" asp-anti-forgery="true">
</form>
    -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="card card-2">
                <div class="card-body">
                    <h2 class="text-dark">Відновлення паролю</h2>
                    <form asp-action="ChangeTeacherPassword" asp-controller="Account" asp-anti-forgery="true">
                        <div class="input-group">
                        </div>
                        <input type="text" id="inputName" class="form-control" placeholder="Ініціали" asp-for="Initials" required autofocus>
                        <span asp-validation-for="Initials" />

                        <div class="input-group">
                            <input id="inputEmail" class="form-control" placeholder="Електронна пошта" asp-for="Email" required autofocus>
                            <span asp-validation-for="Email" />
                        </div>
                        <div class="input-group">
                            <input id="inputPassword" class="form-control" placeholder="Пароль" asp-for="Password" required autofocus>
                            <span asp-validation-for="Password" />
                        </div>
                        <div class="input-group">
                            <input id="inputPassword" class="form-control" placeholder="Підтвордження пароль" asp-for="ConfirmPassword" required autofocus>
                            <span asp-validation-for="ConfirmPassword" />
                        </div>

                        <div class="checkbox mb-3">
                            <button class="btn btn-outline-success btn-m text-uppercase js-scroll-trigger" type="submit">Зберегти</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</header>