@model Kursova.ViewModels.CreateTaskModel


<h2>Створити завдання</h2>
@*<form asp-action="CreateTask" asp-controller="Account" asp-anti-forgery="true">

        <div>
            <div>
                <input type="text" placeholder="" asp-for="Title" />
            </div>
            <div>
                <input type="text" placeholder="" asp-for="Description" />
            </div>
            <div>
                <input type="text" asp-for="Grade" />
            </div>
            <div >
                <input asp-for="StartDate" >
            </div>
            <div >
                <input  asp-for="DeadLine" >
            </div>
            <div >
                <input asp-for="EstimatedTime" >
            </div>
            <div>
                <input asp-for="IsDone" >
            </div>
            <div>
                <input type="submit" value="Зберегти" />
            </div>
        </div>

    </form>*@
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="card card-2">
                <div class="card-body">
                    <h2 class="text-dark">Відновлення паролю</h2>
                    <form asp-action="CreateTask" asp-controller="Account" asp-anti-forgery="true"></form>

                </div>
            </div>
        </div></div>
</header>
