@model Kursova.ViewModels.LoginModel
<!--
<h2>Вхід</h2>


<form asp-action="LoginTeacher" asp-controller="Account" asp-anti-forgery="true">
    <div>
        <div class="form-group">
            <input type="text" asp-for="Email" placeholder="Логін" />
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <input asp-for="Password" placeholder="Пароль" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Увійти" class="btn btn-outline-dark" />
        </div>
    </div>
</form>
<div class="form-group">

    <a asp-action="RegisterTeacher" asp-controller="Account" class="btn btn-outline-dark">Зареєструватися</a>
    <a asp-action="RegisterTeacher" asp-controller="Account" class="btn btn-outline-dark">Забули пароль?</a>

</div>
-->

<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="card card-2">
                <div class="card-body">

                    <h2 class="text-dark">Увійдіть, будь ласка</h2>
                    <form asp-action="LoginTeacher" asp-controller="Account" asp-anti-forgery="true">
                        <div class="input-group">
                            <input type="text" id="inputEmail" class="form-control" placeholder="Логін" asp-for="Email" required autofocus>
                            <span asp-validation-for="Email" />
                        </div>
                        <div class="input-group">
                            <input asp-for="Password" id="inputPassword" class="form-control" placeholder="Пароль" required autofocus>
                            <span asp-validation-for="Password" />
                        </div>

                        <div class="checkbox mb-3">
                            <label class="text-dark">
                                <input type="checkbox" value="remember-me"> Запам'ятати мене
                            </label>
                        </div>
                        <div class="checkbox mb-3">
                            <button class="btn btn-outline-success btn-m text-uppercase js-scroll-trigger" href="#" type="submit">Увійти</button>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a class="dropdown-item" asp-action="RegisterTeacher" asp-controller="Account">&emsp; &emsp;&emsp;Зареєструватися</a>
                            </div>
                            <div class="col-md-4">
                                <a class="dropdown-item" asp-action="RegisterTeacher" asp-controller="Account"> &nbsp;&emsp;Забули пароль?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>