@{
    ViewData["Title"] ="Перевір свою курсову!";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <div class="form-group">
        <a href="/Account/Register" class="btn btn-outline-dark">Студент</a>
        <a href="/Account/RegisterTeacher" class="btn btn-outline-dark">Викладач</a>
    </div>
</div>