@model Kursova.ViewModels.ChangePasswordModel

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="nav-link text-dark" asp-area="" asp-action="MainPage" asp-controller="Home">
                <img class="logo-main scale-with-grid" src="~/img/logos/logo_1.png" data-retina="~/img/logos/logo_1.png" data-height="" width="160" height="160">
            </a>
        </div>
    </nav>

<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="card card-2">
                <div class="card-body">
                    <h2 class="text-dark">Відновлення паролю</h2>
                    <form asp-action="ChangePassword" asp-controller="Student" asp-anti-forgery="true">
                        <input type="text" id="inputName" class="form-control" placeholder="Ім'я" asp-for="FullName" required autofocus>
                        <span asp-validation-for="FullName" />

                        <div class="input-group">
                            <input id="inputEmail" class="form-control" placeholder="Електронна пошта" asp-for="Email" required autofocus>
                            <span asp-validation-for="Email" />
                        </div>
                        <div class="input-group">
                            <input id="inputPassword" class="form-control" placeholder="Пароль" asp-for="Password" required autofocus>
                            <span asp-validation-for="Password" />
                        </div>
                        <div class="input-group">
                            <input id="inputPassword" class="form-control" placeholder="Підтвердіть пароль" asp-for="ConfirmPassword" required autofocus>
                            <span asp-validation-for="ConfirmPassword" />
                        </div>

                        <div class="checkbox mb-3">
                            <button class="btn btn-outline-success btn-m text-uppercase js-scroll-trigger"  type="submit">Зберегти</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</header>