@model Kursova.ViewModels.LoginModel
@{
    Layout = "_Sublayout";
}
<!--

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <
</form>

    -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="card card-2">
                <div class="card-body">
                    <h2 class="text-dark">Увійдіть, будь ласка</h2>
                    <form asp-action="Login" asp-controller="Student" asp-anti-forgery="true">
                        <div class="input-group">
                            <input type="text" id="inputEmail" class="form-control" placeholder="Логін" asp-for="Email" required autofocus>
                            <span asp-validation-for="Email" />
                        </div>
                        <div class="input-group">
                            <input asp-for="Password" id="inputPassword" class="form-control" placeholder="Пароль" required autofocus>
                            <span asp-validation-for="Password" />
                        </div>

                        <div class="checkbox mb-3">
                            <label class="text-dark">
                                <input type="checkbox" value="remember-me"> Запам'ятати мене
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a class="dropdown-item" asp-action="Register" asp-controller="Student" style="margin-left: 200px;margin-right: 100px;">Зареєструватися</a>
                            </div>
                            <div class="col-md-4">
                                <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Student" style="margin-left: 200px;margin-right: 100px;">Забули пароль?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>Student
        </div>
    </div>
</header>