@model Kursova.ViewModels.RegisterModel

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="nav-link text-dark" asp-area="" asp-action="MainPage" asp-controller="Home">
                <img class="logo-main scale-with-grid" src="~/img/logos/logo_1.png" data-retina="~/img/logos/logo_1.png" data-height="" width="160" height="160">
            </a>
        </div>
    </nav>

<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="card card-2">
                <div class="card-body">
                    <h2 class="text-dark">Зареєстуйтеся, будь ласка</h2><br>
                    <form asp-action="Register" asp-controller="Student" asp-anti-forgery="true">
                        <div class="validation" asp-validation-summary="ModelOnly" />
                        <div>

                            <div class="input-group">
                                <input type="text" id="inputNameStudent" class="form-control" placeholder="Прізвище та ініціали (Столяр Ю.Р.)" asp-for="FullName" required autofocus>
                                <span asp-validation-for="FullName" />
                            </div>
                            <div class="input-group">
                                <input type="text" id="inputGroup" class="form-control" placeholder="Група (ПМі-31)" asp-for="Group" required autofocus>
                            </div>
                            <div class="input-group">
                                <input type="text" id="inputKafedratst" class="form-control" placeholder="Кафедра" asp-for="Kafedra" required autofocus>
                            </div><br><br>
                            <div class="input-group">
                                <input type="text" id="inputEmail" class="form-control" placeholder="Електронна пошта" asp-for="Email" required autofocus>
                                <span asp-validation-for="Email" />
                            </div>
                            <div class="input-group">
                                <input id="inputPassword" class="form-control" placeholder="Пароль" asp-for="Password" required autofocus>
                                <span asp-validation-for="Password" />
                            </div>
                            <div class="input-group">
                                <input id="inputPassword" class="form-control" placeholder="Підтвердити пароль" asp-for="ConfirmPassword" required autofocus>
                                <span asp-validation-for="ConfirmPassword" />
                            </div>

                            <div class="checkbox mb-3">

                                <input class="btn btn-outline-success btn-m text-uppercase js-scroll-trigger" id="resgist" type="submit" value="Зареєструватися">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
