@model IEnumerable<Kursova.DAL.Entities.Student>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" href="img/logos/logo.png" sizes="32x32">

        <title>Kursova</title>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="css/agency.min.css" rel="stylesheet">

    </head>
    <body id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img class="logo-main scale-with-grid" src="img/logos/logo_1.png" data-retina="img/logos/logo_1.png" data-height="" width="160" height="160">
                </a>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="teacher_home.html">Моя сторінка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="teacher_kurslist.html">Список курсових</a>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary" href="teacher_notification.html">
                                Сповіщення &nbsp;<span class="badge badge-light">5</span>
                                <span class="sr-only">непрочитані сповіщення</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header -->

        <header class="masthead">
            <div class="container">
                <div class="intro-text">
                    <div class="card card-2">

                        <table class="table">
                            <section class="bg-light page-section" id="portfolio">
                                <div class="row">
                                    &emsp;&emsp;&emsp;
                                    <div class="col-xs-6 col-md-4 portfolio-item">
                                        <div class="person_img">
                                            <div class="col-xs-4 col-sm-6">
                                                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                                                    <div class="portfolio-hover">
                                                        <div class="portfolio-hover-content">
                                                            <i class="fas fa-plus fa-3x"></i>
                                                        </div>
                                                    </div>
                                                    <img class="img-fluid" src="~/img/portfolio/avatar.jpg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <span style="font-weight: bold;" class="text-dark">Мої дані</span>
                                        @foreach (var item in Model)
                                        {@if (item.Email == User.Identity.Name)
                                            {<label for="inputFullName" class="sr-only">Прізвище та ім'я</label>
                                                <input type="text" readonly class="form-control" id="staticGroup" placeholder="@Html.DisplayFor(modelItem => item.FullName)">

                                                <label for="inputGroup" class="sr-only">Група</label>

                                                <input type="text" readonly class="form-control" id="staticGroup" placeholder="@Html.DisplayFor(modelItem => item.Group)">
                                                <label for="inputKafedra" class="sr-only">Кафедра</label>

                                                <input type="text" readonly class="form-control" id="staticKafedra" placeholder="@Html.DisplayFor(modelItem => item.Kafedra)">
                                                <label for="inputE_mail" class="sr-only">Електронна пошта</label>
                                                <input type="text" readonly class="form-control" id="staticGroup" placeholder="@Html.DisplayFor(modelItem => item.Email)">

                                            }}

                                    </div>
                                    &emsp;&emsp;&emsp;
                                    <div class="form-group">
                                        <span style="font-weight: bold;" class="text-dark">Інформація про наукового керівника</span>

                                        <label for="inputFullName" class="sr-only">Прізвище та ініціали</label>
                                        <input type="text" readonly class="form-control" id="staticFullName" placeholder="Прізвище та ініціали">
                                        <label for="inputE_mail" class="sr-only">Електронна пошта</label>
                                        <input type="text" readonly class="form-control" id="staticE_mail" placeholder="Електронна пошта">
                                    </div>
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

                                    <div class="col-xs-12 col-md-7">


                                        <label for="inputThema" class="sr-only">Тема курсової</label>
                                        <input type="text" readonly class="form-control" id="staticThema" placeholder="Тема курсової">
                                    </div>

                                </div>


                            </section>
                        </table>

                    </div>
                </div>
            </div>
        </header>
        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Contact form JavaScript -->
        <script src="js/jqBootstrapValidation.js"></script>
        <script src="js/contact_me.js"></script>

        <!-- Custom scripts for this template -->
        <script src="js/agency.min.js"></script>
    </body>
